@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.container {
    margin: 0 auto;
    padding: 0;
    width: 650px !important;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

* {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    padding: 5% 0;
    font-size: 30px;
}

p {
    
    width: 80%;
    margin: 0 auto;
    line-height: 32px;
    text-align: center;
}

.second h1 {
    color: #17264f;
    padding: 2.5% 0;
}

.descbox {
    border: 3px solid #17264f;
    width: 85%;
    padding: 4.5% 0;
    margin: 0 auto;
}

.one, .two, .three {
    width: 10%;
    // display: block;
    margin: 2.5% 0;
}

#crown, #anchor {
    display: block;
    margin: 0 auto;
}

button {
    background: #0072ba;
    padding: 2.5%;
    font-family: "Montserrat";
    border: none;
}
button a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

.third {
    padding: 3% 0;
}

.fourth img {
    width: 90%;
    margin-top: 5%;
}


.fifth img {
    width: 33%;
}

.fifth h1 {
    padding-bottom: 2.5%;
}